$btn-icon-padding-y: 0.75rem !default;
$btn-icon-padding-x: 0.875rem !default;

$btn-icon-padding-y-sm: 0.125rem !default;
$btn-icon-padding-x-sm: 0.25rem !default;

$btn-icon-padding-y-lg: 1.375rem !default;
$btn-icon-padding-x-lg: 1.5rem !default;
